
{#
#}
{% extends 'base.html.twig' %}
{% block title %}Delete auteur!{% endblock %} 
{%block body %} 

{{include ('_menu.html.twig')}}
<h1>Delete Auteur</h1>

<form method="POST">
  <div>
    <input type="text" name="title" placeholder="Titre du livre" />
  </div>
  <div>
    <textarea name="description" placeholder="Description du livre"></textarea>
  </div>
  <div>
    <input type="text" name="genre" placeholder="Genre du livre" />
  </div>
  <div>
    <button type="submit">Envoyer</button>
  </div>
</form>

 {% endblock %}
