<nav>
    <ul>
        <li>
            <a href="{{ path('app_admin_book_create') }}"> New book</a>
        </li>
        <li>
            <a href="{{ path('app_admin_book_list') }}"> Lists des books</a>
        </li>
        {# <li>
            <a href="{{ path('app_book_update', {id: book.id}) }}"> Update des  autheurs</a>
        </li>
        <li>
            <a href="{{ path('app_book_remove', {id: book.id}) }}"> Delete des  autheurs</a>
        </li> #}

    </ul>
</nav>
